<!DOCTYPE html>
<html>
    <head>


    </head>
    <body>
        <div class="container">

            <form method="post">

                <input type="submit" value="btn_press">
                {% for message in get_flashed_messages() %}
                  {% if btn == True %}
                    <input type="email" value="email">
                    {{ message }}
                  {% elif  mess == True %}
                     <h2> EMAIL FOUND </h2>
                     {{ message }}
                  {% else %}
                     <h1> Nothing</h1>
                  {% endif %}
                {%endfor%}
            </form>
        
        </div>
    </body>
</html>