<!DOCTYPE html>
<html>
    <head>
        <script>
            function submitForm(elem) {
                if (elem.value){

                    elem.form.submit();
                }
            }
        </script>

    </head>

    <body>

        <form method="post" id="FormClasification" >

            <div class="">
                {% if msg == False %}
                <select class="Classification" id="Classification" name="Classification" onchange="submitForm(this)">
        
                    
                    <option value="0" > None</option>

                    <option value="1">Semillas</option>
                        
                    
                    <option value="2">Fertilizantes</option>
                    

                    <option value="3">Control de plagas</option>
                    

                    
                    <option value="4">Insumos de mantenimiento</option>
                    
                    
                    <option value="5">Uso humano</option>
                
                </select>
                {% endif %}

                {% if msg == True %}
                    <select class="Classification" id="Classification" name="Classification">
                        <option value=""> 
                            {% block content %}
                                <span>
                                    {{ test }}
                                </span>
                            {% endblock %}
                        </option>
                    </select>
                {% endif%}
        </form>
        
    </body>


</html>