<!DOCTYPE html>
<html class="" lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add User - Abacrop</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='img/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='img/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='img/favicon-16x16.png')}}">

    

    
        <link rel="stylesheet" href="{{url_for('static', filename='css/all.css') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/mdb.min.css')}}">

        <link rel="stylesheet" href="{{url_for('static', filename='css/dataTables.bootstrap4.css') }}">
        <link rel="stylesheet" href="{url_for('static',filename='css/select.bootstrap4.css') }}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/buttons.bootstrap4.css') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/mdb-file-upload.min.css') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/flag-min.css') }}">

        <link rel="stylesheet" href="{{url_for('static', filename='css/cards-extended.min.css') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/stepper.min.css') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/abaxto.css') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/agropek.css') }}">
    

    

    
        <script src="{{url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
        <script src="{{url_for('static', filename='js/popper.min.js') }}"></script>
        <script src="{{url_for('static', filename='js/stepper.min.js') }}"></script>

        <script src="{{url_for('static', filename='js/datatables.js') }}"></script>
        <script src="{{url_for('static', filename='js/dataTables.bootstrap4.js') }}"></script>
        <script src="{{url_for('static', filename='js/select.bootstrap4.js') }}"></script>
        <script src="{{url_for('static', filename='js/buttons.bootstrap4.js') }}"></script>

        <script src="{{url_for('static', filename='js/bootstrap.js') }}"></script>
        <script src="{{url_for('static', filename='js/mdb.js') }}"></script><style type="text/css">/* Chart.js */
@-webkit-keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}@keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}.chartjs-render-monitor{-webkit-animation:chartjs-render-animation 0.001s;animation:chartjs-render-animation 0.001s;}</style>
        <script src="{{url_for('static', filename='js/session.js') }}"></script>
    

    <link rel="stylesheet" href="{{url_for('static', filename='js/cropper.css') }}">
    <script src="{{url_for('static', filename='js/cropper.js') }}"></script>
    <script src="{{url_for('static', filename='js/jquery-cropper.js') }}"></script>
    <script src="{{url_for('static', filename='js/site.js') }}"></script>


</head>
<body aria-busy="true">
    <!--partial name="_CookieConsentPartial" /-->
    

<!-- Navbar -->

<!--Main Navigation-->
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar agropek-yellow-transparent">
    <div class="container">
        <a class="navbar-brand font-weight-bold text-agropek-blue" href="#">
            <strong>ABACROP</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-agropek-blue font-weight-bold waves-effect waves-light" href="#">
                        <span>
                            Hello Louis!
                        </span>
                    </a>
                </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-agropek-blue waves-effect waves-light" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administration</a>
                        <div class="dropdown-menu colorful-select dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item waves-effect waves-light" href="/Admin">Administration</a>
                            <hr class="dropdown-divider">
                                <a class="dropdown-item waves-effect waves-light" href="/Comp">Companies</a>
                            <a class="dropdown-item waves-effect waves-light" href="/Users">Users</a>
                            <a class="dropdown-item waves-effect waves-light" href="">Crop Types</a>
                            <a class="dropdown-item waves-effect waves-light" href="/locations">Locations</a>
                            <a class="dropdown-item waves-effect waves-light" href="">Products</a>
                            <a class="dropdown-item waves-effect waves-light" href="">Equipment &amp; Work Areas</a>
                            <a class="dropdown-item waves-effect waves-light" href="">Plagues</a>
                            <a class="dropdown-item waves-effect waves-light" href="">Deficiencies</a>
                            <a class="dropdown-item waves-effect waves-light" href="">Reports</a>
                        </div>
                    </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-agropek-blue waves-effect waves-light" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dashboard</a>
                    <div class="dropdown-menu colorful-select dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item waves-effect waves-light" href="/Dashboard">Dashboard</a>
                        <hr class="dropdown-divider">
                        <a class="dropdown-item waves-effect waves-light" href="/crops">Create New Crop</a>
                        <a class="dropdown-item waves-effect waves-light" href="/daily_maintenance">Daily Maintenance</a>
                        <a class="dropdown-item waves-effect waves-light" href="/sanitary">Sanitary Intervention</a>
                        <a class="dropdown-item waves-effect waves-light" href="/foliar">Foliar Intervention</a>
                        <a class="dropdown-item waves-effect waves-light" href="/general">General Maintenance</a>
                        <a class="dropdown-item waves-effect waves-light" href="/root">Root Application</a>
                    </div>
                </li>

            </ul>
            <ul class="navbar-nav right-aligned">
                <li class="nav-item">
                    <a class="nav-link text-agropek-blue font-weight-bold waves-effect waves-light" href="/Home/Logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!--Main Navigation-->

<!-- /.Navbar -->



<!--Modal: modelInformation-->
<div class="modal fade right" id="modalInformation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="true">
    <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading">
                    <strong>Information Message</strong>
                </p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>

            <!--Body-->
            <div class="modal-body">

                <div class="row">
                    <div class="col-3">
                        <p></p>
                        <p class="text-center">
                            <i class="fas fa-info fa-4x"></i>
                        </p>
                    </div>

                    <div class="col-9">
                        <p>
                            <span id="spanInformationMessage"></span>
                        </p>
                    </div>
                </div>
            </div>

            <!--Footer-->
            <div class="modal-footer flex-center">
                <a type="button" class="btn btn-outline-charcoal-light waves-effect" href="#" data-dismiss="modal">Cerrar</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: modalInformation-->
<!--Modal: modalError-->
<div class="modal fade right" id="modalError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false" style="z-index:1052;">
    <div class="modal-dialog modal-dialog-centered modal-notify modal-info" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header red-background">
                <p class="heading">
                    <strong>Error Message</strong>
                </p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>

            <!--Body-->
            <div class="modal-body">

                <div class="row">
                    <div class="col-3">
                        <p></p>
                        <p class="text-center">
                            <i class="fas fa-times fa-4x animated rotateIn red-text"></i>
                        </p>
                    </div>

                    <div class="col-9">
                        <p>
                            <span id="spanErrorMessage"></span>
                        </p>
                    </div>
                </div>
            </div>

            <!--Footer-->
            <div class="modal-footer flex-center">
                <a type="button" class="btn red-background waves-effect text-white" href="#" data-dismiss="modal">Cerrar</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: modalError-->
<div id="mdb-preloader" class="flex-center rgba-white-strong" style="background-color:rgba(255,255,255,.7); display:none">
    <div class="preloader-wrapper active">
        <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>

<main>
    <div class="container">
        <div class="top-nav-padding"></div>

        <!-- Header area -->
        <div class="row mt-lg-4">
            <div class="col-lg-12 col-md-12 mb-4">

                <!-- Admin card -->
                <div class="card mt-3">
                    <div>
                        <i class="fas fa-users fa-lg agropek-green z-depth-2 p-4 ml-3 mt-n3 rounded text-white"></i>
                    </div>

                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 mb-4 pt-3">
                                <h4 class="font-weight-bold mb-0">Add User</h4>
                                <h2 class="font-weight-bold mb-0 text-agropek-blue">Abacrop LLC</h2>
                            </div>
                            <div class="col-lg-8 col-md-6 pt-3">
                                

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Admin card -->

            </div>
            <!--Grid column-->
        </div>
        <!-- Header area -->
        <form method="post" id="formProcessUser" action="/Users/ProcessUser">
            <input type="hidden" value="AddUser" id="AgropekAction" name="AgropekAction">
            <input type="hidden" id="userActive" value="true" name="UserToProcess.Active">
            <div class="row mt-3">
                <div class="col-12 switch primary-switch text-agropek-green">
                    <label>
                        <i class="far fa-eye-slash"></i>
                        <input type="checkbox" class="user-activation" checked="checked">
                        <span class="lever"></span>
                        <i class="far fa-eye"></i>
                    </label>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-6 col-md-12">
                    <div class="select-wrapper mdb-select md-form colorful-select dropdown-primary user_role"><span class="caret">▼</span><input type="text" class="select-dropdown form-control" readonly="true" required="false" data-activates="select-options-2b2dfb39-cdd9-471d-b624-2ea59da82ac1" value="Super User"><ul id="select-options-2b2dfb39-cdd9-471d-b624-2ea59da82ac1" class="dropdown-content select-dropdown w-100 "><li class="active"><span class="filtrable"> Super User   </span></li><li class="   "><span class="filtrable"> Administrator   </span></li><li class="   "><span class="filtrable"> User   </span></li></ul><select class="mdb-select md-form colorful-select dropdown-primary user_role initialized" id="UserToProcess_RoleId" name="UserToProcess.RoleId">
                            <option value="1" selected="selected">Super User</option>
                            <option value="2">Administrator</option>
                            <option value="3">User</option>
                    </select></div>
                    <label class="mdb-main-label active">User Roles</label>
                </div>
                <div class="col-lg-6 col-md-12">
                    <!-- Material input -->
                    <div class="md-form form-group">
                        <input type="text" class="form-control text-field user-title" id="form-user-title" placeholder="Title" required="" name="UserToProcess.Title">
                        <label for="form-user-title" class="label-field active">Title</label>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-6 col-md-12">
                    <!-- Material input -->
                    <div class="md-form form-group">
                        <input type="text" class="form-control text-field user-first-name" id="form-user-firstname" placeholder="First Name" required="" name="UserToProcess.FirstName">
                        <label for="form-user-firstname" class="label-field active">First Name</label>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="md-form form-group">
                        <input type="text" class="form-control text-field user-last-name" id="form-user-lastname" placeholder="Last Name" required="" name="UserToProcess.LastName">
                        <label for="form-user-lastname" class="label-field active">Last Name</label>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-6 col-md-12">
                    <!-- Material input -->
                    <div class="md-form form-group">
                        <input type="text" class="form-control text-field user-email" id="form-user-email" maxlength="250" autocomplete="off" placeholder="Email" required="" name="UserToProcess.Email">
                        <label for="form-user-email" class="label-field active">Email</label>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="md-form form-group">
                        <input type="password" class="form-control text-field user-password" id="form-user-password" maxlength="15" autocomplete="off" placeholder="Password" required="" name="UserToProcess.Password">
                        <label for="form-user-password" class="label-field active">Password</label>
                        <div id="strengthMessage"></div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-6 col-md-12">
                    <div class="select-wrapper mdb-select md-form colorful-select dropdown-primary user-mobile-country"><span class="caret">▼</span><input type="text" class="select-dropdown form-control" readonly="true" required="false" data-activates="select-options-937432ca-007c-4374-ab16-71c70420ead0" value="Puerto Rico"><ul id="select-options-937432ca-007c-4374-ab16-71c70420ead0" class="dropdown-content select-dropdown w-100 "><li class="active"><span class="filtrable"> Puerto Rico   </span></li></ul><select class="mdb-select md-form colorful-select dropdown-primary user-mobile-country initialized" data-val="true" data-val-required="The MobileCountry field is required." id="UserToProcess_MobileCountry" name="UserToProcess.MobileCountry">
                            <option value="1" selected="selected">Puerto Rico</option>
                    </select></div>
                    <label class="mdb-main-label active">Countries</label>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="md-form form-group">
                        <input type="tel" class="form-control text-field user-mobile-number" id="form-user-mobile-number" pattern="^([1-9][0-9]*)$" maxlength="15" autocomplete="off" placeholder="Phone Number" required="" name="UserToProcess.MobileNumber">
                        <label for="form-user-mobile-number" class="label-field active">Phone Number</label>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 text-center">
                    <a href="/Users" class="btn red-background text-white waves-effect waves-light" onclick="showPageLoader(true);">Cancel</a>&nbsp;
                    <a class="btn agropek-green text-white process-user waves-effect waves-light">Add User</a>
                </div>
            </div>
        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8JZgfO30OD1CvkCY7JLJD_wb2_-_wPWJ_eFYTN7RriV27pPLw73v3el3bGZuS5nveLjiS9Z6NVCOseoi97fEuAB3CLE1aCtrtO-xFOVjWb5eunxVoMQFdb_SF5z_AkWaKXQ8qvbdE6NQijOLlZNEUqc"></form>
        <div class="top-nav-padding"></div>
    </div>
</main>


</body>
</html>